# Entornos virtuales
capufe_env/
venv/
.env

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales
*.tmp
*.log
*.cache

# Datos grandes (opcional, si quieres excluir los CSV)
# *.csv